.App{
  display: flex;
  height: 100vh;
}

textarea {
  height: 95vh;
  margin: 40px 20px
}

.Preview {
  height: 92vh;
  width: 98vw;
  margin: 40px;
  padding: 20px;
  overflow: auto;
  border: 5px solid black;
}