.App{
  display: flex;
  height: 100vh;
}

#editor {
  height: 60vh;
  width: 40vw;
  margin: 40px 20px
}

#preview {
  height: 80vh;
  width: 60vw;
  margin: 40px;
  padding: 20px;
  overflow: auto;
  border: 5px solid black;
}